@media screen and (min-width: 769px) and (max-width: 991px) {
    /* Ẩn phần tên ở giữa */
    .nav3 {
        display: none;
    }
    body {
        background-color: rgb(220, 213, 202);
        width: 100%;
    }
    /* Phần mục tiêu nghề nghiệp và thông tin cá nhân */
    #target .section-title {
        width: 100%;
    }
    #target .mtnn {
        width: 300px;
        height: 192px;
    }
    #target {
        margin-left: -240px;
    }
    .container-nntt .section-title {
        font-size: 25px;
    }
    .mtnn,
    .mt-40 {
        font-size: 15px;
    }
    /* Phần thông tin nghề nghiệp */
    .container-ttnn {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 700px;
        justify-content: center;
        column-gap: 30px;
        row-gap: 40px;
        padding-top: 40px;
        line-height: 1.6;
    }
    .kn,
    .hd,
    .nn {
        background-color: rgb(219, 221, 186);
    }
    .hv,
    .icon-text,
    .knang {
        background-color: rgb(241, 195, 172);
    }
    /* Phần chứng chỉ - giải thưởng */
    .container-CCDN {
        display: grid;
        grid-template-columns: 55% 55%;
        grid-template-rows: 400px 400px;
        justify-content: center;
        padding-left: 70px;
        padding-right: 50px;
        padding-bottom: 30px;
        row-gap: 50px;
        font-size: 14px;
        line-height: 1.5;
    }
    .img-text1 {
        padding-right: 30px;
    }
    .img-text2 {
        padding-right: 20px;
    }
    .img-text3 {
        margin-top: 30px;
        padding-right: 30px;
    }
    .container-CCDN img {
        width: 100%;
    }
    .text-ccgt {
        width: 100%;
        font-size: 17px;
    }
    #certificate .section-title {
        width: 100%;
        padding-left: 35px;
    }
    /* Phần Dự án */
    #project-section h1 {
        padding-bottom: 50px;
        padding-left: 20px;
    }
    /* Phần footer */
    .container4,
    .icon-facebook-circled,
    .icon-linkedin-circled,
    .icon-github-circled {
        font-size: 29px;
        padding: 5px;
    }
    /* Phần Project Charter */
    .digital {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 30px;
        background-color: rgb(220, 190, 154);
        border: none;
        padding: 10px;
    }
    .digital1,
    .digital2,
    .digital4,
    .digital5 {
        border: none;
    }
    .digital4 {
        grid-row: 2 / 3;
    }
    .digital5 {
        grid-row: 4 / 5;
    }
}